{% extends 'GSBObjComBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Consultation d'une pharmacie
{% endblock %}

{% block gsbobjcom_body %}
    <h2>Caractéristique de la pharmacie numéro {{laPharm.id}}</h2>
    <p>nom :{{laPharm.nom}}</p>
    <p> situer dans la ville de :{{laPharm.ville}}</p>
    <a href="{{path('gsb_obj_com_pharm_aff_list')}}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i>Retour à la liste</a>
    <br></br>
    <a href="{{path('gsb_obj_com_pharm_modifier',{id:laPharm.id})}}" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i>Modifier la pharmacie</a>
    <br></br>                                     
    <a href="{{path('gsb_obj_com_pharm_supprimer',{id:laPharm.id})}}" class="btn btn-danger"><i class=" glyphicon glyphicon-trash"></i>Supprimer la pharmacie</a>
{% endblock %}